@font-face {
    font-family: "Alegreya Sans SC";
    src: url(../../assets/Fonts/AlegreyaSansSC-Black.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Galano Grotesque";
    src: url(../../assets/Fonts/GalanoGrotesqueAltRegular.otf) format("opentype");
}
